@font-face {
  font-family: Chops chopS;
  src: url(ChopschopS.ttf);
}
body {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: verdana;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.abouthd {
	animation: transitionIn 0.8s;
	font-size: 150px;
	color: #a21212;
	font-family: 'Chops chopS';
	text-align: center;
	text-align: top;
}
.aboutbd {
	animation: transitionIn 1.2s;
	font-family: 'Chops chopS';
	color: #a21212;
	font-size: 80px;
	text-align: center;
}
.header {
	animation: transitionIn 0.8s;
	font-family: 'Chops chopS';
	color: #a21212;
}
.body {
	animation: transitionIn 1.2s;
	font-family: 'Chops chops';
}
a:link {
	text-decoration: none;
	color: #840808;
}
a:visited {
	text-decoration: none;
	color: #840808;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
	border-right: solid red 1px;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #a21212;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.fa-bars {
	color: #a21212;
}
.fa-times {
	color: #a21212;
}
